<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="container content">
    <header class="masthead">
        <h3 class="masthead-title">
            <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
        </h3>
    </header>

    <main>
        {{ content }}
    </main>

    <footer class="footer">
        <div class="custom-social-buttons">
            <div class="custom-social-button twitter">
                <a id="twitter-link" href="#"><span class="socicon">a</span></a>
            </div>
            <div class="custom-social-button linkedin">
                <a id="linkedin-link" href="#"><span class="socicon">j</span></a>
            </div>
            <div class="custom-social-button googleplus">
                <a id="googleplus-link" href="#"><span class="socicon">c</span></a>
            </div>
        </div>
        <script type="text/javascript">
            window.onload = function() {
                var blogDomain = encodeURIComponent("{{ site.url }}");
                var pageTitleSpaces = encodeURIComponent("{{ page.title }}") + "&amp;";
                var pageID = "{{ page.id }}";
                var pageURL = encodeURIComponent(pageID) + "&amp;";

                var twitterPartOne = "https://twitter.com/intent/tweet?original_referer=";
                var twitterPartTwo = "text=";
                var twitterPartThree = "tw_p=tweetbutton&amp;url=";
                var twitterPartFour = "via=mrt1nz";
                var twitterUrl = twitterPartOne + blogDomain + pageURL + twitterPartTwo + pageTitleSpaces + twitterPartThree + blogDomain + pageURL + twitterPartFour;
                var twitterLink = document.getElementById("twitter-link");
                twitterLink.onclick = function() { popUp=window.open(twitterUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };

                var linkedinPartOne = "http://www.linkedin.com/shareArticle?mini=true&url=";
                var linkedinPartTwo = "&title=";
                var linkedinPartThree = "&summary=";
                var linkedinPartFour = "&source=";
                var linkedinUrl = linkedinPartOne + blogDomain + pageURL + linkedinPartTwo + pageTitleSpaces + linkedinPartFour + "@bigal";
                var linkedInLink = document.getElementById("linkedin-link");
                linkedInLink.onclick = function() { popUp=window.open(linkedinUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };

                var googlePlusPartOne = "https://plus.google.com/share?url=";
                var googlePlusUrl = googlePlusPartOne + blogDomain + pageID;
                var googlePlusLink = document.getElementById("googleplus-link");
                googlePlusLink.onclick = function() { popUp=window.open(googlePlusUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };
            };
        </script>
        <div class="page-comments">
            {% if page.comments %}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = 'krasserm';
              var disqus_identifier = "{{ site.disqusid }}{{ page.url | replace:'index.html','' }}";
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            {% endif %}
        </div>
    </footer>
</div>

</body>
</html>
